@model ResultModel

<html>
    <head>
        <link rel="stylesheet" href="~/css/UserForm.css" />
    </head>
    <body>
        <p class="space">
                <h1 style="text-align: center">Login</h1>
        </p>
        <form asp-action="Authenticate" asp-controller="User" method="post" class="center-text">
            @{if (@Model != null && @Model.GetType() == typeof(ErrorResultModel))
                {
                    <div class="alert alert-danger formInput" role="alert">
                        @(((ErrorResultModel)Model).Message)
                    </div>
                }
            }
            
            <div class="form-group small-space">
                <label for="UserName" class="form-text">Username: </label>
                <input type="text" name="UserName" id="UserName" class="form-control formInput" placeholder="Username" value=@ViewData["username"] required/>
            </div>
            <div class="form-group small-space">
                <label for="Password" class="form-text">Password: </label>
                <input type="password" name="Password" id="Password" class="form-control formInput" placeholder="password" value=@ViewData["password"] required/>
            </div>
            <input type="submit" class="btn btn-primary small-space" value="Login"/>
        </form>
    </body>
</html>

