@model List<DeviceModel>

<html>
    <head>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        #LocationTable {
            position: relative;
            max-width: 80%;
            max-height: 20%;
            overflow-x: auto;
            overflow-y: auto;
            text-align: center;
            display: block;
        }
        #recentLocations {
            display:inline-block; float: right;
        }
        table, th, td{
            border: 1px solid black;
        }
    </style>
    </head>
    <body>

            <table id="LocationTable">
                <tr>
                    <th></th>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <th>Device @(i + 1)</th>
                    }
                </tr>
                <tbody>
                    <tr>
                        <td>Latitude: </td>
                        @for(int i = 0; i < Model.Count; i++)
                        {
                            <td>@Model[i].DeviceLatitude</td>
                        }
                    </tr>
                    <tr>
                        <td>Longitude: </td>
                        @for(int i = 0; i < Model.Count; i++)
                        {
                            <td>@Model[i].DeviceLongitude</td>
                        }
                    </tr>
                    <tr>
                        <td>Moving: </td>
                        @for(int i = 0; i < Model.Count; i++)
                        {
                            <td>@Model[i].Moving</td>
                        }
                    </tr>
                </tbody>
            </table>
        <script>
            
        </script>
    </body>
    
</html>


