@model List<RecordModel>

<html>
    <head>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map {
                position: relative;
                top: 15%;
                min-height: 325px;
                max-height: 1500px;
                min-width: 625px;
                max-width: 2700px;
                display: inline-block;
            }
        #LocationTable {
            text-align: center;
            position: relative;
            border-collapse: collapse;
            top: 15%;
            right: 10%;
            min-height: fit-content;
            max-height: fit-content;
            min-width: fit-content;
        }
        table, th, td{
            border: 1px solid black;
        }
    </style>
    </head>
    <body>
        <div id="map"></div>
        
        
        <div id="recentLocations" style="display:inline-block; float: right;">
            <table id="LocationTable">
                <colgroup>
                    <col span="1" style="width:15%"/>
                    <col span="1" style="width:25%"/>
                    <col span="1" style="width:25%"/>
                    <col span="1" style="width:30%"/>
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="4">This table holds the recent locations your device has been(up to 20).</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Pinged At</th>
                    </tr>
                </thead>
                <tbody>
                @for(int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[i].DeviceLatitude</td>
                        <td>@Model[i].DeviceLongitude</td>
                        <td>@(Model[i].CreatedAt.ToString())</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <script>
            
        </script>
    </body>
    
</html>


